.navbar
  position: fixed
  top: 2.5%
  right: 5%

  ol
    display: flex
    gap: 5em

    li
      letter-spacing: .1em
      transition: all 0.25s ease-in

      &::marker
        color: $accent

      &:hover
        color: $accent
