.links-aside
  position: fixed
  width: 100%
  height: 5vh
  background-color: $bg-base
  z-index: 3

  @media (max-width: $phone-max-width)
    height: 10vh

  & > *
    position: fixed
    top: 1em

.drag
  letter-spacing: .2em
  opacity: 0
  transform: translateY(-5rem)
  animation: slide-fade .5s ease .1s forwards

  @media (max-width: $phone-max-width)
    display: none

.navbar
  left: 16.66vw
  right: 16.66vw

  ol
    display: flex
    gap: 5em

    li
      letter-spacing: .1em
      transition: all 0.25s ease-in
      opacity: 0
      transform: translateY(-5rem)
      animation: slide-fade .5s ease calc(var(--order) * .1s + .3s) forwards

      &::marker
        color: $accent

      &:hover, &:active, &.active
        color: $accent

  @media (max-width: $phone-max-width)
    align-items: center
    width: 36px
    height: 36px
    z-index: 2
    left: 10vw
    background-image: url("/icons/menu.svg")

    ol
      display: flex !important
      position: fixed
      height: 100%
      width: 0
      padding: 0
      top: 0
      left: 0
      background-color: $bg-secondary
      display: none
      flex-direction: column
      gap: 2em
      font-size: nth($font-sizes-mobile, 3)
      list-style-position: inside
      transition: width 0.25s
      z-index: 3

      & > li
        display: none
        transform: translateX(-5rem)
        opacity: 0

    &:focus-within
      ol
        width: 60vw
        padding: 8vh 5vw

        & > li
          display: list-item
          animation: slide-fade .5s ease calc(var(--order) * .1s) forwards

    &::after
      content: "DRAG ANYWHERE"
      position: fixed
      right: 10vw
      color: $text-secondary
      letter-spacing: .2em
      z-index: 0

