body
  background-color: $bg-base
  font-family: $font-base
  font-weight: 300
  color: $text-primary
  font-size: nth($font-sizes, 5)

  @media (max-width: $phone-max-width)
    font-size: nth($font-sizes-mobile, 5)

html, body, #root
  scroll-behavior: smooth
  height: 100%
  max-width: 100%
  overflow-x: hidden
  scrollbar-width: none
  -ms-overflow-style: none

  &::-webkit-scrollbar
    display: none

.renderIfVisible, .renderIfVisible > section
  min-height: 100vh
  height: fit-content
  margin-top: 1em

.renderIfVisible > section
  padding: 0 16.66vw
  @media (max-width: $phone-max-width)
    padding: 0 10vw

canvas
  position: fixed
  top: 0
  left: 0
  pointer-events: none
  z-index: -100