body
  background-color: $bg-base
  font-family: $font-base
  font-weight: 300
  color: $text-primary
  font-size: nth($font-sizes, 5)

  @media (max-width: $phone-max-width)
    font-size: nth($font-sizes-mobile, 5)

html, body, #root
  scroll-behavior: smooth
  height: 100%
  max-width: 100%
  overflow-x: hidden
  scrollbar-width: none
  -ms-overflow-style: none
  scroll-snap-type: y mandatory

  @media (max-height: $desktop-min-height)
    scroll-snap-type: initial

  &::-webkit-scrollbar
    display: none

#root
  position: relative

#root > section
  min-height: 100vh
  height: fit-content
  margin-top: 1em
  scroll-snap-align: center
  padding: 0 16.66vw
  @media (max-height: $desktop-min-height)
    padding: 0 10vw

@media (max-height: $desktop-min-height)
  #root > section:last-of-type
    min-height: unset
    height: fit-content
    padding-bottom: 2rem
  
canvas
  position: fixed
  top: 0
  left: 0
  pointer-events: none
  z-index: -100

.anim-started
  animation: var(--animation)