.talk-cheap
  margin-bottom: 5em
  h1
    margin: .5em 0
    line-height: 1em

  h5
    opacity: 0
    transform: translateX(-5rem)
    animation: slide-fade 1s ease 4540ms forwards

  h6
    letter-spacing: .1em

.containers
  margin-top: 1em

  .container
    width: 40%

    img
      height: 3rem
      margin-right: 1em

    span
      margin-bottom: .5em

  .wwwallet
    color: #DCECFF
    font-family: "Rambla", sans-serif

  .sortvisualizer
    color: #D2803D
    font-family: "Jura", sans-serif

.a-link
  color: $accent
  display: inline-block

  &::after
    content: ""
    width: 0
    height: 1px
    display: block
    background: $accent
    transition: 0.25s

  &:hover
    &::after
      width: 100%
