.talk-cheap
  margin-bottom: 5em
  h1
    margin: .5em 0
    line-height: 1em
    font-size: 5rem

  @media (max-width: $phone-max-width)
    margin-bottom: 2em
    h1
      font-size: 1.75rem

  h5, h6
    opacity: 0
    transform: translateX(-5rem)

  h5
    --animation: slide-fade 1s ease 4540ms forwards

  h6
    --animation: slide-fade 200ms ease 100ms forwards
    letter-spacing: .1em

  &:hover, &:active
    text-shadow: 0 0 30px currentColor

.containers
  margin-top: 1em
  gap: 2em

  .container
    opacity: 0
    width: 33%
    transform: translateY(5rem)

    &:nth-of-type(1)
      --animation: slide-fade 1s ease 6s forwards

    &:nth-of-type(2)
      --animation: slide-fade 1s ease 6.2s forwards

    &:nth-of-type(3)
      --animation: slide-fade 1s ease 6.4s forwards

    img
      height: 3rem
      margin-right: 1em

    span
      margin-bottom: .5em

  @media (max-width: $phone-max-width)
    .container
      width: 100%
      margin-bottom: 2em

      img
        height: 2rem

      &:nth-of-type(2)
        --animation: slide-fade 1s ease 1.5s forwards
      
      &:nth-of-type(3)
        --animation: slide-fade 1s ease 1.5s forwards
      

    flex-direction: column

  .wwwallet
    color: #DCECFF
    font-family: "Rambla", sans-serif

  .sortvisualizer
    color: #D2803D
    font-family: "Jura", sans-serif

  .ddaniel
    font-family: "Lora", serif

.details
  opacity: 0
  transform: translateX(-5rem)
  --animation: slide-fade 1s ease 5.5s forwards

.arch
  opacity: 0
  transform: translateX(-5rem)
  --animation: slide-fade 1s ease 8s forwards

  gap: .5em
  margin-top: 5em
  img
    height: 1.5em
