.skills-main
  @media (max-width: $phone-max-width)
    display: block
    justify-content: unset
    flex-direction: unset

.skills-sections
  h1, h2, h3
    margin-bottom: .25em

.skills-main-text
  margin-bottom: 1.5em

  p
    opacity: 0
    transform: translateX(-5rem)
    --animation: slide-fade 1s ease .7s forwards
    margin-bottom: .5em

.skills, .experiences
  opacity: 0

.skills
  transform: translateX(-5rem)
  --animation: slide-fade 1s ease 2.2s forwards

  div:first-of-type
    display: flex
    justify-content: space-between

    gap: 5em
    @media (max-width: $phone-max-width)
      gap: 2em

.experiences
  gap: 2em
  transform: translateX(5rem)
  --animation: slide-fade 1s ease 2.2s forwards

  & > *
    flex: 1
    width: 100%

.skill-list
  list-style: none

  li
    margin-bottom: .5em

    img
      height: 1.5em
      border-radius: .5em

.language-experiences-sections
  align-items: stretch
  & > *
    max-width: 40%

  @media (max-width: $phone-max-width)
    flex-direction: column
    justify-content: unset
    align-items: unset

    & > *
      display: block
      max-width: unset
      margin-bottom: 3em




