.skills-section
  section
    margin-bottom: 3em
  p
    margin-bottom: 1em

  h1, h2
    margin-bottom: .25em

.skills
  ul:first-of-type
    margin-right: 5em

  div:first-of-type
    display: flex

.skill-list
  list-style: none

  li
    margin-bottom: .5em

    img
      height: 1.5em
      border-radius: 2em