@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 100;
}

html,
body,
#app {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.page {
  scroll-snap-align: start;
}

input,
textarea {
  font: inherit;
  background: inherit;
}

/* Hide all scrollbars */
* {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

*::-webkit-scrollbar {
  display: none !important;
}

@layer utilities {
  .work-description-desktop {
    @apply absolute flex w-[30vw] -translate-x-1/2 -translate-y-[15rem] flex-col gap-2 rounded-xl bg-background p-8;
    left: calc(100% / (var(--experiences) + 2) * var(--order) + 1.5rem * var(--order) * 2);
  }

  .work-description-mobile {
    @apply absolute flex w-[90vw] -translate-y-[10vh] flex-col gap-2 rounded-xl
    bg-background p-4;
    left: 25vw;
  }
}
