// Background colors
$bg-base: #040404
$bg-secondary: #101010

$primary: #F2FF5B
$secondary: #F2FF5B99
$accent: #00F0FF

// Text colors
$text-primary: #c5c5c5
$text-secondary: #8c8c8c

$red: #480000
$green: #025d2b
// Font
$font-base: "Fira Sans", sans-serif
$font-title: "Source Code Pro", sans-serif
$font-sizes: 3rem, 2.25rem, 2rem, 1.5rem, 1.2rem, 0.9rem
$font-sizes-mobile: 2rem, 1.5rem, 1.25rem, 1rem, 0.8rem, 0.6rem

// Breakpoint
$phone-max-width: 1200px
$desktop-min-height: 1400px


