// Background colors
$bg-base: #090909
$bg-secondary: #181818

$primary: #F2FF5B
$secondary: #F2FF5B99
$accent: #00F0FF

// Text colors
$text-color: #f1f1f1

// Font
$font-base: "Fira Sans", sans-serif
$font-sizes: 2.75rem, 2.25rem, 2rem, 1.25rem, 1.125rem, 0.9rem